@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Vehicle-list {
  width: 700px;
  padding: 75px 150px;
}

.Navbar {
  float: left;
  width: 5%;
  height: 100vh;
  padding: 1%;
  background-color: #000026;
}

.Map-style {
  width: 95%;
  height: 100vh;
  overflow: auto;
}
